 #banner{
    margin-left: 100px;
    background-image: url("../assets/RishileshCamp.jpg");
    background-repeat: no-repeat;
    width: 1500px;    
}

#banner2{
    background-image: url("../assets/rafting.jpg");
    background-repeat: no-repeat;

    
}

#banner3{
    background-image: url("../assets/RishikeshBungee.jpg");
    background-size: 600px 300px;
    background-repeat: no-repeat;
    /* margin-left: 20px; */
    
}