<!-- Only yoga page camping is with the raftung -->
<h5>Yoga page</h5>

<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
>

  <title>Rishikesh The Capital of Yoga</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Rishikesh</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="\" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="\about.html">About us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Yoga</a></li>
              <li><a class="dropdown-item" href="#">Advanture</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">More..</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="\contect.html">Contect us</a>
          </li>

        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

        <main class="container" >
            <div id="thumb1" >
              <div class="col-md-6 px-0">
                <h1 class="display-4 fst-italic">Be alive. Be strong. Be fit. Be relaxed. Be happy. Just be </h1>
                <p class="lead my-3">I offer you peace. I offer you love. I offer you friendship. I see your beauty. I hear your need. I feel your feelings. My wisdom flows from the highest source. I salute that source in you. Let us work together for unity and love.</p>
              </div>
            </div>

       

        

        <div class="row g-5">
            <div class="col-md-8">
              <h3 class="pb-4 mb-4 fst-italic border-bottom">
                Yoga Today Yoga Tomorrow
              </h3>

              <article class="blog-post">
        
        <h2>message</h2>
                
        <p>Yoga is a great form of physical activity which brings connection between the mind, body and soul. It is a natural treatment for various health issue and keep the diseases away from your body. The 20 minutes of yoga practice is enough to stay fit and healthy. Yoga asanas build strength, flexibility and confidence.</p>
        
       
       
        
        <h3>meditation</h3>
        <p>Meditation and concentration are the way to a life of serenity. If the mind falls asleep, awaken it. Then if it starts wandering, make it quiet. If you reach the state where there is neither sleep nor movement of mind, stay still in that, the natural (real) state.</p>
        <p>"When we meditate we slow ourselves down into stillness and silance so we can finally hear the whispers deep within our heart". <br>--Budha</p>
      </article>
    </div>



    <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
          <div class="p-4 mb-3 bg-light rounded">
            <h4 class="fst-italic">About Rishikesh</h4>
            <p class="mb-0">Famously known as the Yoga capital of the world, Rishikesh is a quiet haven for those who seek tranquility from a fast-paced life. Located in Uttarakhand, about twenty-five kilometers from Haridwar, Rishikesh is a small town that encapsulates faith and Hinduism like no other town in India</p>
          </div>


        <div class="p-4">
            <h4 class="fst-italic">Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div>
      </div>
    </div>

</main>
<div></div>

<hr class="featurette-divider">

<footer class="blog-footer">
  <p>Blog template built By <a href="https://getbootstrap.com/">RS tech</a> for <a href="https://twitter.com/mdo">@RishikeshDarshna</a>.</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>

    

    