

<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

  <title>Rishikesh The Capital of Yoga</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Rishikesh</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="\" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="\about.html">About us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Yoga</a></li>
              <li><a class="dropdown-item" href="#">Advanture</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">More..</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="\contect.html">Contect us</a>
          </li>

        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  <div class="row py-lg-5" id="banner1">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Advanture and nearby tourist place</h1>
      <p class="lead text-muted" id="para">Rishikesh and nearby place of Rishikesh is full of Advanture and Tourist places. There are lots of Spot who attract you.   </p>
      <!-- <p>
        <a href="#" class="btn btn-primary my-2">Main call to action</a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p> -->
    </div>
  </div>


  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            
            <img src="assets/image/Tourism/dehradun1.jpeg" height="250px" >

            <div class="card-body">
                <h4>Dehradun</h4>
              <p class="card-text">Dehradun is a notable academic and research hub and is home to Indian Military Academy, Rashtriya Indian Military College, Uttarakhand Ayurveda University, Forest Research Institute, Wadia Institute of Himalayan Geology, Indira Gandhi National Forest Academy and Indian Institute of Remote Sensing..</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            
            <img src="assets/image/Tourism/Devpryag.jpg" height="250px" >

            <div class="card-body">
                <h3>Devprayag</h3>
              <p class="card-text">It is one of the five sacred confluences in the hills and is an important place of pilgrimage for devout Hindus. "Devprayag" means "Godly Confluence" in Sanskrit. As per Hindu scriptures, Devprayag is the sacred event of merging two visible heavenly rivers, Alakananda and Bhagirathi, to form the holy Ganga.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">

            <img src="assets/image/Tourism/Haridwar.jpg" height="250px">

            <div class="card-body">
                <h3>Haridwar</h3>
              <p class="card-text">Haridwar is regarded as a holy place for Hindus, hosting important religious events and serving as a gateway to several prominent places of worship. ... Brahma Kund, the spot where the Amrit fell, is located at Har ki Pauri (literally, "footsteps of the Lord") and is considered to be the most sacred ghat of Haridwar.</p>
              <div class="d-flex justify-content-between align-items-center">
               
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            
            <img src="assets/image/Tourism/Mussorie.jpg" height="250px" >

            <div class="card-body">
                <h3>Mussoorie</h3>
              <p class="card-text">We don't need to describe Mussoorie because great author Ruskin Bond has already done that in his novels and stories.He used this amazing town and the tourist places in Mussorie as the backdrop of his stories and the natural beauty has created many landmarks in the field of “nature’s romanticism.”
                If you are in love with nature’s romanticism and follow literature for that then the enchanting beauty of Mussoorie is your wonderland waiting for you.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <img src="assets/image/Tourism/byasi.jpeg" height="250px" >

            <div class="card-body">
                <h3>“Byasi”</h3>
              <p class="card-text">Make a visit to the quaint little village of Uttrakhand “Byasi”. Here you can witness a perfect blend of fresh environs and cool aura.

                This region of quietude is just perfect for the solace seekers and lies on the banks of Ganges, extending picture-perfect vistas which are worth visiting. Here one can try the enthralling water rafting or can delve in the serene environs of the silent village while you enjoy camping</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            
            <img src="assets/image/Tourism/NewTehari.jpg" height="250px" >

            <div class="card-body">
                <h3>New Tehri</h3>
              <p class="card-text">This destination keeps the spark of rejuvenation alive by offering a splendid view from the top of mountain peaks. Housing one of the largest Dam’s of Asia, named ”Tehri Dam”,

                New Tehri is an amazing getaway from the bustle of the city.
                
                Things to do: With an abundance of things to do in Tehri, visiting the Tehri dam is one of the most popular activity, one can also experience camping, trekking and a lot more in the vicinity of New Tehri.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
           
            <img src="assets/image/Tourism/Lansdowne.jpg" >

            <div class="card-body">
                <h3>Lansdowne</h3>
              <p class="card-text">Thick oak forests, mesmerizing hills, and spellbinding views, there are numerous places to visit in Lansdowne which will take you a step closer to nature. A quaint hill station which is perched at an elevation of 1700 meters, Lansdowne brings to you a potpourri of attractions and memorable experiences. From trekking the treacherous trails of Lover’s Lane and exploring the vibrant streets of Lansdowne Main Market to visiting the holy shrines of Jwalpa Devi and Durga Devi Temple, there are multitude of ways by which you can quench your wanderlust in this snow-clogged beauty.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            
            <img src="assets/image/Tourism/shivpuri.jpg" >

            <div class="card-body">
                <h3>Shivpuri</h3>
              <p class="card-text">
                Shivpuri is famous for graceful, intricately embellished marble chhatris erected by Scindia rulers,Shivpuri (Shiv + Pauri)(Pauri == home) is the home of Lord Shiva which reasons a huge number of Shiv Temples in the place. Besides that, the place has mesmerising mountains draped with lush greens and gushing river Ganga is flowing besides that. Having said that, the place offers an adventurous trip for you and your friendh.s. You can indulge in camping and stay close to nature and have a meaningful utilisation of time like some other tourist places near Rishikes</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div> 
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            
            <img src="assets/image/Tourism/kanatal.jpeg" >

            <div class="card-body">
                <h3>Kanatal</h3>
              <p class="card-text">Located in Uttarakhand, to the north of India, Kanatal is a hill station frequented for its pristine beauty and adventure activities. The scenic destination is in close proximity to major tourist destinations like Delhi, Mussoorie, Chamba, and Rishikesh, which makes Kanatal the perfect weekend getaway for locals and tourists alike! Given that the town is perched at a height of 8500 feet above sea level and is resplendent with the magnificent Himalayas and deep valleys, it is undoubtedly a piece of paradise for photographers and nature lovers. But that’s not all there is to Kanatal.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>    

  <footer class="text-muted py-5">
    <div class="container">
      <p class="float-end mb-1">
        <a href="#">Back to top</a>
      </p>
      <p class="mb-1">Album example is © Bootstrap, but please download and customize it for yourself!</p>
      <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="/docs/5.0/getting-started/introduction/">getting started guide</a>.</p>
    </div>
  </footer>