form{
    max-width: 400px;
    
    height: 475px;
    margin: 18px auto;
    /* border: 0.01px solid rgb(107, 100, 170); */
    padding: 1rem;
    /* background-image: url("../assets/image/RishileshCamp.jpg"); */
}

#loginForm{
    margin: auto;
}

h2{
   text-align: center;
   padding-top: 100px;
   padding-right: 50px;
   color: rgb(51, 51, 51); 
   height: 100%;
   background-size: cover;
   background-repeat: no-repeat;
}


/* body{
    background-image: url("../assets/image/formbg.jpeg" );
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

body{
    background-color: rgb(156, 161, 84);
    background-image: url("../assets/RishileshCamp.jpg");
}

div
 { height: 100%; margin: 0; } 

label{
    display: block;
    color: rgb(54, 53, 53);
    padding-top: 0.5rem;
    font-size: 15px;
    text-transform: uppercase;
}
label:hover{
    color: rgb(185, 169, 169);
}

input,textarea{
    /* display: block;  */
    width: 85%;
    margin-top: 2px;
    border: 2px solid rgb(63, 60, 60);
    border-radius: 5px;
    padding: .25rem;
}



.pageButton{
    border: 0.4px solid rgb(59, 56, 56);
    background: rgb(14, 12, 12);
    padding: .5rem;
    color: white;
    width: 80%;
    margin-top: 1rem;
    width: auto;
    cursor: pointer;
    border-radius: 5px;
    
} 

#btnid{
    margin-left: 20px;
    
}

.pageButton:hover{
    color: rgb(206, 185, 185);
}
